  <div class="row">
        <div class="col-sm-12">
            <p>To support Redmond local business community we provide a list of working businesses in Redmond with direct options to order:</p>
            <button class="btn btn-outline-success" data-toggle="collapse" data-target="#redmondBusiness">
                Show open businesses
            </button>
        </div>
    </div>

